body {
  padding-top: 3.5em;
}

.card .btn {
  float: right;
}

.bg-primary {
  background-color: orange !important;
}

.card {
  box-shadow: 0 0.25em 1.5em -0.5em hsla(230, 20%, 30%, 0.5);
  transition: box-shadow 0.35s ease-in-out;
}

.card:hover {
  box-shadow: 0 0.5em 2em -0.25em hsla(230, 20%, 30%, 0.5);
}
